.root-layout {
    text-align: center;
  }
  
  .navbar {
    margin-bottom: 20px; /* Adjust the margin as needed */
  }
  
  .navbar-brand {
    font-size: 1.5rem; /* Adjust the font size as needed */
  }
  